body, html {
  height: 100%;
  background-color: #132e45;
  color: white;
  font-family: 'Open Sans';
  font-style: normal;
}

.logo {
  width: 100%;
}

h1 {
  text-shadow: 2px 2px 8px #000000;
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
  text-shadow: 1px 1px 2px #000000;
}

.yellow {
  color: #fdc130;
  font-style: normal;
}

.size-h4 {
  font-size: 1.5em;
}


.valign {
  display: flex;
  align-items: center;
}

.valign span {
  margin-left: 5px;
}

a {
  color: white;
}

a:hover {
  color: #fdc130;
  text-decoration: none;
}

.red {
  color: #ff6666;
  font-weight: bold;
}

.blue {
  color: #346792;
  font-weight: bold;
}

blockquote {
  font-style: normal;
  padding: 5px;
  border-left-style: solid;
  border-left-color: white;
}

blockquote a {
  color: #fdc130;
}

footer {
  margin: 0 auto;
  font-size: 0.8em;
}
