<!DOCTYPE html>
<html lang="es">
{% include 'header.html' %}
<body id="page-top">
  {% include 'nav.html' %}
  <!-- empty section for header color -->
  <header class="masthead-page">
  </header>

  <section class="bg-primary" id="page-details">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">{{ page_title }}</h2>
          <hr class="divider divider-light" />
          <p class="text-white-75 mb-4">
            {{ page_description }}
          </p>
        </div>
      </div>
    </div>
  </section>

  <main>
    <div class="main-content">
      <div class="container px-4 px-lg-5 mt-5">
        {{ content }}
      </div>
    </div>

    {% if 'li' in toc %}
    {% if page_url != 'faq.html' %}
    <nav class="section-nav">
      <div class="container px-4 px-lg-5">
      <h3 class="toc-title">Temas</h3>
      {{ toc }}
    </nav>
    {% endif %}
    {% endif %}
  </main>

  {% include 'contact.html' %}
  {% include 'footer.html' %}
</body>
</html>
