<!-- Contact-->
<section class="page-section bg-primary" id="contacto">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">¡Contáctanos!</h2>
        <hr class="divider divider-light" />
        <p class="text-white-75 mb-4">
          ¿Tienes alguna pregunta? ¿Te gustaría hacer una propuesta?
        </p>
        <p class="text-white-75 mb-4">
          No dudes en ponerte en contacto con con el equipo de <b>Coordinación</b>
          en el <a href="https://discord.gg/35E3Ph7Fez">servidor de Discord</a>.
          Puedes identificarles pues tienen un rol con el mismo nombre.
        </p>
      </div>
    </div>
  </div>
</section>
