<footer class="footer hp-bg-dark">
  <div class="content">
    <div class="row">
      <div class="col-4 text-white">
        <h6 class="uppercase">Recursos</h6>
        <ul style="line-height: 12px;" class="no-bullets">
          <a href="principiantes.html">
              <li class="footer__list-item">Principiantes</li>
          </a>
          <a href="cursosylibros.html">
              <li class="footer__list-item">Cursos y libros</li>
          </a>
          <a href="faq.html">
              <li class="footer__list-item">Preguntas frecuentes</li>
          </a>
          <ul>
          </ul>
        </ul>
        <h6 class="uppercase">Comunidad</h6>
        <ul style="line-height: 12px;" class="no-bullets">
          <a href="comienzacomunidad.html">
              <li class="footer__list-item">Comienza una comunidad</li>
          </a>
          <a href="otrascomunidades.html">
              <li class="footer__list-item">Otros grupos e iniciativas</li>
          </a>
          <a href="psf.html">
              <li class="footer__list-item">Python Software Foundation</li>
          </a>
          <ul>
          </ul>
        </ul>
      </div>
      <div class="col-4 text-white">
        <h6 class="uppercase">Información</h6>
        <ul style="line-height: 12px;" class="no-bullets">
          <a href="normativa.html">
              <li class="footer__list-item">Normativa</li>
          </a>
          <a href="preguntarayudar.html">
              <li class="footer__list-item">Preguntar y ayudar</li>
          </a>
          <a href="ofertas.html">
              <li class="footer__list-item">Ofertas de trabajo</li>
          </a>
          <ul>
          </ul>
        </ul>
        <h6 class="uppercase">Iniciativas</h6>
        <ul style="line-height: 12px;" class="no-bullets">
          <a href="pyladies.html">
              <li class="footer__list-item">PyLadies en Español</li>
          </a>
          <a href="podcast.html">
              <li class="footer__list-item">Podcast: Bit a bit</li>
          </a>
          <a href="aprendepython.html">
              <li class="footer__list-item">Aprende Python Construyendo</li>
          </a>
          <a href="transmisiones.html">
              <li class="footer__list-item">Transmisiones</li>
          </a>
          <ul>
          </ul>
        </ul>
      </div>
      <div class="col-4 text-white">
        <h6 class="uppercase">Hablemos Python</h6>
        <a href="https://discord.gg/hablemospython">
          <span class="icon">
              <i class="fab fa-wrapper fa-discord text-white" aria-hidden="true"></i>
          </span>
        </a>
        <a href="https://t.me/PythonEsp">
          <span class="icon">
              <i class="fab fa-wrapper fa-telegram text-white" aria-hidden="true"></i>
          </span>
        </a>
        <a href="https://youtube.com/@hablemospython">
          <span class="icon">
              <i class="fab fa-wrapper fa-youtube text-white" aria-hidden="true"></i>
          </span>
        </a>
        <a href="https://github.com/python-discord-es">
          <span class="icon">
              <i class="fab fa-wrapper fa-github text-white" aria-hidden="true"></i>
          </span>
        </a>
        <br/>
        <ul style="line-height: 12px;" class="no-bullets">
          <a href="politica_privacidad.html">
            <li>Política de Privacidad</li>
          </a>
          <a href="atribuciones.html">
            <li>Atribuciones</li>
          </a>
        </ul>
      </div>
    </div>
  </div>
  <p class="subtitle">Python en Español © 2023.</p>
</footer>
<script>
  // Get all the nav-btns in the page
  let navBtns = document.querySelectorAll('.nav-btn');

  // Add an event handler for all nav-btns to enable the dropdown functionality
  navBtns.forEach(function (ele) {
      ele.addEventListener('click', function() {
          // Get the dropdown-menu associated with this nav button (insert the id of your menu)
          let dropDownMenu = document.getElementById('header-menu');

          // Toggle the nav-btn and the dropdown menu
          ele.classList.toggle('active');
          dropDownMenu.classList.toggle('active');
      });
  });
</script>
