<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

  <!-- Primary Meta Tags -->
  <title>Python en Español - {{ header['@title'] }}</title>
  <meta name="title" content="Python en Español - {{ header['@title'] }}">
  <meta name="description" content="La comunidad hispanohablante de Python más grande del mundo">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://hablemospython.dev/{{ header['@url'] }}">
  <meta property="og:title" content="Hablemos Python - {{ header['@title'] }}">
  <meta property="og:description" content="La comunidad hispanohablante de Python más grande del mundo">
  <meta property="og:image" content="https://hablemospython.dev/img/og.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://hablemospython.dev/{{ header['@url'] }}">
  <meta property="twitter:title" content="Hablemos Python - {{ header['@title'] }}">
  <meta property="twitter:description" content="La comunidad hispanohablante de Python más grande del mundo">
  <meta property="twitter:image" content="https://hablemospython.dev/img/og.png">

  <!-- Favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/site.webmanifest">

  <!-- CSS -->
  <link href="css/cirrus.min.css" type="text/css" rel="stylesheet"/>
  <link href="css/self.css" type="text/css" rel="stylesheet"/>

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" crossorigin="anonymous"/>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous" ></script>
</head>
