<div class="header header-fixed u-unselectable header-animated">
    <div class="header-brand">
        <div class="nav-item no-hover">
            <a href="index.html"><h6 class="title"><img style="height: 40px" src="img/logo.png" /></h6></a>
        </div>
        <div class="nav-item nav-btn" id="header-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="header-nav" id="header-menu">
        <div class="nav-left">
            <div class="nav-item has-sub toggle-hover" id="dropdown">
                <a class="nav-dropdown-link">Recursos</a>
                <ul class="dropdown-menu dropdown-animated" role="menu">
                    <li role="menu-item"><a href="principiantes.html">Principiantes</a></li>
                    <li role="menu-item"><a href="cursosylibros.html">Cursos y libros</a></li>
                    <li role="menu-item"><a href="faq.html">Preguntas frecuetes</a></li>
                </ul>
            </div>
            <div class="nav-item has-sub toggle-hover" id="dropdown">
                <a class="nav-dropdown-link">Comunidad</a>
                <ul class="dropdown-menu dropdown-animated" role="menu">
                    <li role="menu-item"><a href="comienzacomunidad.html">Comienza una comunidad</a></li>
                    <li role="menu-item"><a href="otrascomunidades.html">Otros grupos e iniciativas</a></li>
                    <li role="menu-item"><a href="psf.html">Python Software Foundation</a></li>
                </ul>
            </div>
            <div class="nav-item has-sub toggle-hover" id="dropdown">
                <a class="nav-dropdown-link">Información</a>
                <ul class="dropdown-menu dropdown-animated" role="menu">
                    <li role="menu-item"><a href="normativa.html">Normativa</a></li>
                    <li role="menu-item"><a href="preguntarayudar.html">Preguntar y ayudar</a></li>
                    <li role="menu-item"><a href="ofertas.html">Ofertas de trabajo</a></li>
                </ul>
            </div>
            <div class="nav-item has-sub toggle-hover" id="dropdown">
                <a class="nav-dropdown-link">Iniciativas</a>
                <ul class="dropdown-menu dropdown-animated" role="menu">
                    <li role="menu-item"><a href="pyladies.html">PyLadies en Español</a></li>
                    <li role="menu-item"><a href="podcast.html">Podcast: Bit a bit</a></li>
                    <li role="menu-item"><a href="aprendepython.html">Aprende Python construyendo</a></li>
                    <li role="menu-item"><a href="transmisiones.html">Transmisiones</a></li>
                </ul>
            </div>
        </div>

        <div class="nav-right">
            <div class="nav-item text-center">
                <a href="#">
                    <span class="icon">
                        <i class="fab fa-wrapper fa-discord" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
            <div class="nav-item text-center">
                <a href="#">
                    <span class="icon">
                        <i class="fab fa-wrapper fa-telegram" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
            <div class="nav-item text-center">
                <a href="#">
                    <span class="icon">
                        <i class="fab fa-wrapper fa-youtube" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
            <div class="nav-item text-center">
                <a href="#">
                    <span class="icon">
                        <i class="fab fa-wrapper fa-github" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
