<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Primary Meta Tags -->
  <title>Python en Español - {{page_title}}</title>
  <meta name="title" content="Python en Español - {{page_title}}">
  <meta name="description" content="La comunidad hispanohablante de Python más grande del mundo &#128013; &#127881;">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://hablemospython.dev/{{page_url}}">
  <meta property="og:title" content="Hablemos Python - {{page_title}}">
  <meta property="og:description" content="La comunidad hispanohablante de Python más grande del mundo &#128013; &#127881;">
  <meta property="og:image" content="https://hablemospython.dev/assets/og.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://hablemospython.dev/{{page_url}}">
  <meta property="twitter:title" content="Hablemos Python - {{page_title}}">
  <meta property="twitter:description" content="La comunidad hispanohablante de Python más grande del mundo &#128013; &#127881;">
  <meta property="twitter:image" content="https://hablemospython.dev/assets/og.png">

  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.png" />
  <!-- Google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" type="text/css">
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="assets/css/styles.css" rel="stylesheet" />
  <link href="assets/css/grid-items.css" rel="stylesheet" />
  <link href="assets/css/code.css" rel="stylesheet" />
  <link href="assets/css/custom.css" rel="stylesheet" />
  <link href="assets/css/downarrow.css" rel="stylesheet" />
</head>
