<section class="section hp-bg-dark text-white">
  <div class="hero fullscreen">
   <div class="hero-body">
    <div class="content">
      <div class="row u-flex u-justify-center">
        <div class="col-6 m-1 u-center">
          <div class="w-80p u-flex u-text-left">
             <h1 class="headline-2">Hablemos</br>Python </h1>
          </div>
          <div class="row w-80p u-flex u-center">
            <div class="col-md-5 col-sm-12 m-1 u-center">
              <a href="https://discord.gg/hablemospython" class="w-100p">
              <button class="btn-hp btn--lg w-100p u-shadow-lg text-white px-2 py-1 m-1 u-round-xs">
                  <i class="fa-wrapper fab fa-discord pad-right"></i>Discord
              </button>
              </a>
            </div>
            <div class="col-md-5 col-sm-12 m-1 u-center">
              <a href="https://t.me/PythonEsp" class="w-100p">
              <button class="btn-hp btn--lg w-100p u-shadow-lg text-white px-2 py-1 m-1 u-round-xs">
                  <i class="fa-wrapper fab fa-telegram pad-right"></i>Telegram
              </button>
              </a>
            </div>
         </div>
          <div class="w-80p u-flex u-space-justify px-1">
          <p style="font-size: 115%;"> 🇦🇷 🇧🇴 🇨🇱 🇨🇴 🇨🇷 🇨🇺 🇪🇨 🇸🇻 🇪🇸 🇬🇹 🇬🇶 🇭🇳 🇲🇽 🇳🇮 🇵🇦 🇵🇾 🇵🇪 🇵🇷 🇩🇴 🇺🇾 🇻🇪</p>
          </div>
          <hr class="w-40p" style="border: 1px solid #ffc331;"/>
          <div class="w-80p px-1 u-text-center">
             <h5 class="font-normal">La comunidad hispanohablante de Python más grande del mundo</h5>
          </div>
        </div>
        <div class="col-4 px-2 m-1 u-center">
          <img style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222); width:80%;" src="img/logo.png" />
        </div>
      </div>
    </div>
   </div>
  </div>
</section>
