<!DOCTYPE html>
<html id="page">
   {% include 'head.html' %}
   <body class="hp-bg-dark">
      {% include 'header.html' %}
      {% include 'index_hero.html' %}
      <section class="section bg-white">
        <div class="row u-flex u-justify-center">
          <div class="row u-flex u-justify-center u-text-center py-2">
            <div class="col-6 px-2 py-1 m-1 u-round-xs">
            <h2 class="uppercase">De la comunidad, para la comunidad</h2>
                <div class="w-80p px-1 u-center">
                    <hr class="w-80p" style="border: 1px solid #ffc331;"/>
                </div>
            <p>
             Python en Español es una iniciativa que nació del esfuerzo de
             personas de países hispanohablantes para generar un lugar central
             donde la comunidad pudiera seguir creciendo y fortaleciéndose.
            </p>
            <p>
             Somos una comunidad basada en el respeto, para ofrecer un lugar
             seguro donde cualquier persona pueda comenzar con Python o mejorar
             sus conocimientos.
            </p>
            <p>
             En nuestros canales podrás encontrar actividades, recursos,
             consejos, conferencias, meetups, noticias, proyectos y mucho más
             temas relacionados a Python.
            </p>
          </div>
        </div>
        </section>

      <section class="section bg-blue-100">
        <div class="row u-flex u-justify-center py-6">
            <div class="col-5 px-2 py-1 m-1 u-round-xs">
                <h2 class="uppercase">Recursos</h2>
                <p>
                  Algun texto que vaya a describir algo largo. Quizás un par de ideas,
                  o quizás solamente texto que acompañe la idea de la imagen.
                  Algun texto que vaya a describir algo largo. Quizás un par de ideas,
                  o quizás solamente texto que acompañe la idea de la imagen.
                </p>
                <a href="principiantes.html">
                  <button class="btn-hp btn--lg w-80p mb-2">Principiantes<i class="fa-wrapper fa fa-chevron-right pad-left"></i></button>
                </a>
                <a href="cursosylibros.html">
                  <button class="btn-hp btn--lg w-80p mb-2">Cursos y libros<i class="fa-wrapper fa fa-chevron-right pad-left"></i></button>
                </a>
                <a href="faq.html">
                  <button class="btn-hp btn--lg w-80p mb-2">Preguntas frecuentes<i class="fa-wrapper fa fa-chevron-right pad-left"></i></button>
                </a>
            </div>
            <div class="col-4 px-2 py-1 m-1 u-round-xs u-flex-end">
              <img src="img/recursos.png" />
            </div>
        </div>
      </section>

      <section class="section bg-white">
        <div class="row u-flex u-justify-center py-6">
            <div class="col-4 px-2 py-1 m-1 u-round-xs u-center">
                <img src="img/comunidad.png" />
            </div>
            <div class="col-5 px-2 py-1 m-1 u-round-xs u-text-right">
                <h2 class="uppercase">Comunidad</h2>
                <p>
                  Algun texto que vaya a describir algo largo. Quizás un par de ideas,
                  o quizás solamente texto que acompañe la idea de la imagen.
                  Algun texto que vaya a describir algo largo. Quizás un par de ideas,
                  o quizás solamente texto que acompañe la idea de la imagen.
                </p>
                <a href="comienzacomunidad.html">
                  <button class="btn-hp btn--lg w-80p mb-2">Comienza una comunidad<i class="fa-wrapper fa fa-chevron-right pad-left"></i></button>
                </a>
                <a href="otrascomunidades.html">
                  <button class="btn-hp btn--lg w-80p mb-2">Otros grupos e iniciativas<i class="fa-wrapper fa fa-chevron-right pad-left"></i></button>
                </a>
                <a href="psf.html">
                  <button class="btn-hp btn--lg w-80p mb-2">Python Software Foundation<i class="fa-wrapper fa fa-chevron-right pad-left"></i></button>
                </a>
            </div>
        </div>
      </section>

      <section class="section bg-blue-100">
        <div class="row u-flex u-justify-center py-6">
            <div class="col-5 px-2 py-1 m-1 u-round-xs u-text-right">
                <h2 class="uppercase">Información</h2>
                <p>
                    Algun texto que vaya a describir algo largo. Quizás un par de ideas,
                    o quizás solamente texto que acompañe la idea de la imagen.
                    Algun texto que vaya a describir algo largo. Quizás un par de ideas,
                    o quizás solamente texto que acompañe la idea de la imagen.
                </p>
                <a href="normativa.html">
                  <button class="btn-hp btn--lg w-80p mb-2">Normativa<i class="fa-wrapper fa fa-chevron-right pad-left"></i></button>
                </a>
                <a href="preguntarayudar.html">
                  <button class="btn-hp btn--lg w-80p mb-2">Preguntar y ayudar<i class="fa-wrapper fa fa-chevron-right pad-left"></i></button>
                </a>
                <a href="ofertas.html">
                  <button class="btn-hp btn--lg w-80p mb-2">Ofertas de trabajo<i class="fa-wrapper fa fa-chevron-right pad-left"></i></button>
                </a>
            </div>
            <div class="col-4 px-2 py-1 m-1 u-round-xs u-center">
                <img src="img/informacion.png" />
            </div>
        </div>
      </section>

      <section class="section bg-white">
        <div class="u-text-center pt-3">
          <h2 class="uppercase">Iniciativas</h2>
        </div>
        <div class="row u-flex u-justify-center pt-3">
            <div class="col-lg-2 col-md-4 col-sm-6 px-2 m-1 u-round-xs">
                <div class="card" style="max-width: 350px;">
                  <div class="card__container">
                    <div class="content u-text-center">
                        <img src="img/pyladies_en_espanol.png"/>
                        <p>PyLadies en Español</p>
                        <a href="pyladies.html">
                          <button class="btn-hp outline mt-3 w-80p">Lee más</button>
                        </a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 px-2 m-1 u-round-xs">
                <div class="card" style="max-width: 350px;">
                  <div class="card__container">
                    <div class="content u-text-center">
                        <img src="img/bit_a_bit.png"/>
                        <p>Podcast: Bit a bit</p>
                        <a href="podcast.html">
                          <button class="btn-hp outline mt-3 w-80p">Lee más</button>
                        </a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 px-2 m-1 u-round-xs">
                <div class="card" style="max-width: 350px;">
                  <div class="card__container">
                    <div class="content u-text-center">
                        <img src="img/aprende_construyendo.png"/>
                        <p>Aprende Python Construyendo</p>
                        <a href="aprendepython.html">
                          <button class="btn-hp outline mt-3 w-80p">Lee más</button>
                        </a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 px-2 m-1 u-round-xs">
                <div class="card" style="max-width: 350px;">
                  <div class="card__container">
                    <div class="content u-text-center">
                        <img src="img/transmisiones.png"/>
                        <p>Transmisiones</p>
                        <a href="transmisiones.html">
                          <button class="btn-hp outline mt-3 w-80p">Lee más</button>
                        </a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
  {% include 'footer.html' %}
  </body>
</html>
