<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="index.html">
      <img style="vertical-align: middle; margin-bottom: 10px;" src="assets/img/logo-emoji.png" />Hablemos Python
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto my-2 my-lg-0">
        <li class="nav-item dropdown" id="myDropdown">
          <a class="nav-link dropdown-toggle" href="#recursos" data-bs-toggle="dropdown">Recursos</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="principiantes.html">Principiantes</a></li>
            <li><a class="dropdown-item" href="cursosylibros.html">Cursos y Libros</a></li>
            <li><a class="dropdown-item" href="faq.html">Preguntas Frecuentes</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" id="myDropdown">
          <a class="nav-link dropdown-toggle" href="#info" data-bs-toggle="dropdown">Información</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="normativa.html">Normativa</a></li>
            <li><a class="dropdown-item" href="preguntarayudar.html">Preguntar y Ayudar</a></li>
            <li><a class="dropdown-item" href="ofertas.html">Ofertas de trabajo</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" id="myDropdown">
          <a class="nav-link dropdown-toggle" href="#info" data-bs-toggle="dropdown">Comunidad</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="psf.html">Python Software Foundation</a></li>
            <li><a class="dropdown-item" href="comienzacomunidad.html">Comienza una comunidad</a></li>
            <li><a class="dropdown-item" href="otrascomunidades.html">Otras comunidades</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
        <li class="nav-item"><a class="nav-link" href="coc.html">Código de Conducta</a></li>
      </ul>
    </div>
  </div>
</nav>
