<!DOCTYPE html>
<html id="page">
  {% include 'head.html' %}
  <body class="hp-bg-dark">
      {% include 'header.html' %}
      <section class="section hp-bg-dark text-white pt-10">
        <div class="row u-flex u-justify-center">
            <div class="col-7 px-2 py-1 m-1 u-round-xs">
                <div class="u-text-left">
                  <h1 class="headline-4">{{ header['@title'] }}</h1>
                   <p>
                     {{ header['@description'] }}
                    </p>
                </div>
            </div>
            <div class="col-3 px-2 py-1 m-1 u-round-xs">
              {%if header['@logo'] %}<img class="header-logo" src="{{ header['@logo'] }}" />{% endif %}
            </div>
        </div>
      </section>

      <section class="section bg-white">
        <div class="row u-flex u-justify-center">
          {% if header['@url'] != 'faq.html' %}
          <div class="col-7 px-2 py-1 m-1 u-round-xs">
          {% else %}
          <div class="col-10 px-2 py-1 m-1 u-round-xs">
          {% endif %}
            <ul class="breadcrumb">
                <li class="breadcrumb__item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb__item breadcrumb__item--active">
                  <a href="{{ header['@url'] }}">{{ header['@title'] }}</a>
                </li>
            </ul>
            {{ content }}
          </div>
          {% if header['@url'] != 'faq.html' %}
          <div class="col-3 px-2 py-1 m-1 u-round-xs">
            {% if 'li' in toc %}
            <ul class="menu">
              <li class="divider" data-label="Contenido"></li>
              {{ toc }}
            </ul>
            {% endif %}
          </div>
          {% endif %}
        </div>

        </section>
    {% include 'footer.html' %}
  </body>
</html>
