# Environments
env/

# Generated pages
aprendepython.html
coc.html
comienzacomunidad.html
cursosylibros.html
faq.html
normativa.html
ofertas.html
otrascomunidades.html
politica_privacidad.html
preguntarayudar.html
principiantes.html
tutoriales.html
atribuciones.html
psf.html

# aspell
*.bak

# fontawesome
deploy/fontawesome630

# other files
__pycache__
