# Environments
env/

# Generated pages
coc.html
cursosylibros.html
faq.html
normativa.html
ofertas.html
preguntarayudar.html
principiantes.html
aprendepython.html
politica_privacidad.html

# aspell
*.bak
