/* Configuration for smooth/sticky right-menu
 * based on: https://www.bram.us/2020/01/10/smooth-scrolling-sticky-scrollspy-navigation/
 * */

/* 1. Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* 2. Make nav sticky */
main > nav {
  position: sticky;
  top: 8rem;
  align-self: start;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.toc li.active > a {
  color: #333;
  font-weight: 500;
}

/* Sidebar Navigation */
.toc {
  padding-left: 0;
  border-left: 1px solid #efefef;
}

.toc a {
  text-decoration: none;
  display: block;
  padding: .125rem 0;
  color: #ccc;
  transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.toc a:hover,
.toc a:focus {
  color: #666;
}

/** Poor man's reset **/
* {
  box-sizing: border-box;
}

html, body {
  background: #fff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.toc ul, .toc ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-left: 1rem;
}

h1 {
  font-weight: 300;
}

/** page layout **/
main {
  display: grid;
  grid-template-columns: 1fr 20em;
  max-width: 100em;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1em;
}

.toc {
  font-size: 0.9em;
  margin-top: 1rem;
  padding-left: 0;
  border-left: 1px solid #efefef;
}

.toc a {
  text-decoration: none;
  display: block;
  padding: .125rem 0;
  color: #ccc;
  transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.toc a:hover,
.toc a:focus {
  color: #666;
}


/** Poor man's reset **/
* {
  box-sizing: border-box;
}

html, body {
  background: #fff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.toc ul, .tuc ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-left: 1rem;
}

.toc li > ul  {
  font-size: 0.9em;
  margin-left: 0.2rem;
}

h1 {
  font-weight: 300;
}

.toc-title {
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 1em;
}

/** page layout **/
main {
  display: grid;
  grid-template-columns: 1fr 20em;
  max-width: 100em;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .toc {
    visibility: hidden;
    clear: both;
    display: none;
  }

  main {
    grid-template-columns: 1fr;
  }

}
/* End Configuration for smooth/sticky right-menu */

h1, h2, h3, h4 {
  padding-top: 1em;
}

.card a {
  color: black;
}

.card a:hover {
  text-decoration: none;
  background-color: #eff6ff;
}

.card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}
