/* GRID */
.grid {
  display: grid;
  gap: 1rem;
  /*grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));*/
  grid-template-columns: auto auto auto;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 512px) {
  .grid {
    grid-template-columns: auto;
  }
}

.grid > div.item-box {
  height: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.grid > div.item-box > .recursos-box {
  position: relative;
  display: block;
}
.grid > div.item-box > .recursos-box > .recursos-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background: rgba(139, 139, 139, 0.3);
  color: black;
  transition: opacity 0.25s ease;
  text-align: center;
  border: 5px solid white;
}

.grid > div.item-box:hover > .recursos-box:hover,
.grid > div.item-box:hover > .recursos-box > .recursos-box-caption:hover {
  opacity: 1;
  background: rgba(52, 103, 146, 0.9);
  color: white;
}

.grid > div.item-box > .recursos-box > .recursos-box-caption > .project-category {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(210, 50, 41);
}

.grid > div.item-box > .recursos-box > .recursos-box-caption > .project-name {
  font-size: 1.5rem;
}

/* END GRID */
